parameters:
    paths:
        - app/
        - config/
        - routes/

    level: 5

    excludePaths:
        - bootstrap/cache/*
        - storage/*
        - vendor/*
        - routes/console.php

    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false

    ignoreErrors:
        - '#Call to an undefined static method App\\Models\\.*::(where|whereIn|create|updateOrCreate|count|orderBy|firstOrFail|all|find|findOrFail|whereHas|query|select|orderByDesc|orderByAsc)\(.*#'
        - '#Method .* should return Illuminate\\View\\View but returns Illuminate\\Contracts\\View\\View#'
        - '#Call to an undefined method App\\Models\\.*::(update|delete|roles|company|unit|permissions|products|units)\(.*#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::.*#'
        - '#Method App\\DataTables\\.*::getQuery.* should return Illuminate\\Database\\Eloquent\\Builder but returns Illuminate\\Database\\.*\\Builder#'
        - '#Call to an undefined method Illuminate\\Database\\Query\\Builder::with.*#'
        - '#Call to an undefined method Illuminate\\Contracts\\Auth\\Factory::user.*#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model::\$installation_uuid#'

